<!DOCTYPE html>
<html>
<head>
    <title>Famous Quote Search</title>
</head>
<body>
    <h1>Famous Quote Search</h1>

    <form action="/quotes">
        Keyword: <input type="text" name="keyword"> <br>
        Category: <select name="category">
                    <option>Select One</option>
                    <% categories.forEach(function(i) { %>

                        <option><%= i.category %></option>

                    <% }); %>
                  </select>
        Author's name: <select name="lastName">
            <option>Select One</option>
            <% lastName.forEach(function(i) { %>

                <option><%= i.lastName %></option>

            <% }); %>
        </select>
        Author's gender: <select name="gender">
            <option>Select One</option>
            <% gender.forEach(function(i) { %>

                <option><%= i.gender %></option>

            <% }); %>
        </select>
        <button>Search!</button>
    </form>

</body>
</html>